@import "~@porsche-design-system/utilities/scss";
.ks-cards {
  position: relative;

  &__item {
    height: 100%;
    display: flex;
    flex-direction: column;
    box-shadow: 0 p-px-to-rem(2px) p-px-to-rem(4px) 0 rgba(0, 0, 0, 0.05),
      0 p-px-to-rem(15px) p-px-to-rem(20px) 0 rgba(0, 0, 0, 0.2);
  }

  &__mood {
    display: block;
    width: 100%;
    height: auto;
    margin-bottom: $p-spacing-16;
  }

  &__desc-container {
    padding: $p-spacing-24;
    display: flex;
    height: inherit;
    flex-flow: column;
    background-color: #fff;
  }

  &__headline {
    margin-bottom: $p-spacing-16;
    color: $p-color-state-disabled;
  }

  &__desc {
    margin-bottom: $p-spacing-32;
  }

  p-button {
    display: block;
    margin-top: auto;
    width: fit-content;
  }
}
