@import "~@porsche-design-system/utilities/scss";
.ks-form {
  position: relative;
  padding: $p-spacing-16;
  background-color: $p-color-theme-dark-background-surface;
}

// form top spacing
.ks-form__top-spacing {
  margin-top: $p-spacing-48;

  @include p-media-query("m") {
    margin-top: $p-spacing-64;
  }
}

// form bottom spacing
.ks-form__bottom-spacing {
  padding-bottom: $p-spacing-64;

  @include p-media-query("m") {
    padding-bottom: $p-spacing-80;
  }
}

// form section and fieldset spacing
.ks-form__section-spacing {
  margin-top: $p-spacing-40;

  @include p-media-query("m") {
    margin-top: $p-spacing-48;
  }
}

// form row spacing
.ks-form__row-spacing {
  margin-top: $p-spacing-16;
  @include p-media-query("xs") {
    &--xs {
      margin-top: $p-spacing-16;
    }
    &--zero-xs {
      margin-top: 0;
    }
  }

  @include p-media-query("s") {
    &--s {
      margin-top: $p-spacing-16;
    }
    &--zero-s {
      margin-top: 0;
    }
  }

  @include p-media-query("m") {
    &--m {
      margin-top: $p-spacing-16;
    }
    &--zero-m {
      margin-top: 0;
    }
  }

  @include p-media-query("l") {
    &--l {
      margin-top: $p-spacing-16;
    }
    &--zero-l {
      margin-top: 0;
    }
  }

  @include p-media-query("xl") {
    &--xl {
      margin-top: $p-spacing-16;
    }
    &--zero-xl {
      margin-top: 0;
    }
  }
}

// form grid
.ks-form__grid-item-container {
  margin-left: -$p-spacing-8;
  margin-right: -$p-spacing-8;
}

.ks-form__grid-item {
  padding-left: $p-spacing-8;
  padding-right: $p-spacing-8;
}

// form item
.ks-form__item-width {
  &--full {
    width: 100%;
  }

  &--auto {
    width: auto;
  }

  @include p-media-query("xs") {
    &--full-xs {
      width: 100%;
    }
    &--auto-xs {
      width: auto;
    }
  }

  @include p-media-query("s") {
    &--full-s {
      width: 100%;
    }
    &--auto-s {
      width: auto;
    }
  }

  @include p-media-query("m") {
    &--full-m {
      width: 100%;
    }
    &--auto-m {
      width: auto;
    }
  }

  @include p-media-query("l") {
    &--full-l {
      width: 100%;
    }
    &--auto-l {
      width: auto;
    }
  }

  @include p-media-query("xl") {
    &--full-xl {
      width: 100%;
    }
    &--auto-xl {
      width: auto;
    }
  }
}
