@import "~@porsche-design-system/utilities/scss";
.ks-header {
  position: relative;

  .ks-skip-link {
    position: absolute;
    top: -100%;
    &:focus,
    &:focus-visible {
      top: 0;
      z-index: 2;
    }
  }

  &__marque {
    position: relative;
    display: block;
    padding: $p-spacing-32 $p-spacing-8;
    border: 1px solid $p-color-neutral-contrast-low;
    margin-bottom: -12px;
    z-index: 2;
    background-color: #fff;
  }

  &__nav {
    padding-bottom: $p-spacing-24;
    padding-left: $p-spacing-24;
    display: flex;

    a {
      display: block;
      margin: 0 $p-spacing-24;
      @include p-generate-font-definition(
        $p-font-size-small,
        $p-font-weight-regular
      );
      color: $p-color-default;
      text-decoration: none;
    }
  }
}

.ks-accessible {
  .ks-header {
    &__marque {
      &:focus {
        @include p-focus();
        color: #000;
      }
    }

    &__nav {
      display: block;
      padding-bottom: $p-spacing-16;

      ul {
        display: flex;
        list-style-type: none;
      }

      a {
        padding: $p-spacing-8 $p-spacing-24;
        margin: 0;

        &:hover,
        &[aria-current] {
          color: $p-color-state-hover;
        }

        &:focus {
          @include p-focus();
        }
      }
    }
  }
}
