@import "~@porsche-design-system/utilities/scss";
.ks-hero {
  position: relative;

  &__mood {
    padding-top: 38.4375%;
    overflow: hidden;
    position: relative;

    img {
      position: absolute;
      top: 0;
      display: block;
      width: 100%;
      height: auto;
      opacity: 0.7;
      object-fit: contain;
    }
  }

  &__text {
    position: absolute;
    bottom: 10%;
    z-index: 2;
  }
}

.ks-accessible {
  .ks-hero {
    transform: translate3d(0, 0, 0); // add new context for fixed

    &__mood {
      background-color: $p-color-theme-dark-background-surface;

      img {
        opacity: 1;
      }

      &::before {
        content: "";
        position: absolute;
        z-index: 1;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: linear-gradient(
          -180deg,
          rgba(0, 0, 0, 0) 37%,
          rgba(0, 0, 0, 0.3) 67%,
          rgba(0, 0, 0, 0.8) 100%
        );
      }
    }

    // the CSS pseudo-content trick
    p-link-pure a::after {
      content: "";
      position: fixed; // workaround because of position relative in slot context
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }
  }
}
